<section >
    <h2 class='resume-section'>Education</h2>
    <article>
        <header>
            <h3>Master of Science, Computational Analysis and Public Policy</h3>
            <span>The University of Chicago Harris School</span>
            <span><address>Chicago, IL</address><time>Expected 2017</time></span>
        </header>
        <p>
            <em>Relevant coursework here</em>
        </p>
    </article>
    <article>
        <header>
            <h3>Bachelor of Arts with Departmental Honors, Media Studies</h3>
            <span>Vassar College</span>
            <span><address>Poughkeepsie NY</address><time>2007 to 2011</time></span>
        </header>
    </article>
</section>