<section >
    <article>
        <header>
            <h3 class='resume-position'>Master of Science, Computational Analysis and Public Policy</h3>
            <span>The University of Chicago Harris School</span>
        </header>
        <p>Coursework in computer science, statistical machine learning, econometrics, policy analysis, databases, and spatial data analysis</p>
    </article>
    <article>
        <header>
            <h3 class='resume-position'>Bachelor of Arts with Departmental Honors, Media Studies</h3>
            <span>Vassar College</span>
        </header>
    </article>
</section>