<section>
    <h2 class='resume-section'>Professional Experience</h2>
    <article>
        <header>
            <h3>Data Science Intern</h3>
            <span>University of Chicago Crime Lab</span>
            <span><address>Chicago, IL</address><time>2017-Present</time></span>
        </header>
        <p>
            Create Python pipeline to clean government administrative time series data for machine learning. Build and evaluate models for use in policy decisions by partner agencies.
        </p>
    </article>
    <article>
        <header>
            <h3>Graduate Teaching Assistant</h3>
            <span>The University of Chicago</span>
            <span><address>Chicago IL</address><time>Fall 2016</time></span>
        </header>
        <p>CS 121: Introduction to Computer Science with Applications with Professor Anne Rogers.</p>
    </article>
</section>