<section>
    <h2 class='resume-section'>Professional Experience</h2>
    <article>
        <header>
            <h3>Data Science Intern</h3>
            <span>University of Chicago Crime Lab</span>
            <span><address>Chicago IL</address><time>2017-Present</time></span>
        </header>
<!--         <ul>
            <li>Create Python pipeline to clean government administrative time series data for machine learning. Build and evaluate models for use in policy decisions by partner agencies.</li>
        </ul> -->
    </article>
    <article>
        <header>
            <h3>Graduate Teaching Assistant</h3>
            <span>The University of Chicago</span>
            <span><address>Chicago IL</address><time>Fall 2016</time></span>
        </header>
        <ul>
            <li>CS 121: Introduction to Computer Science with Applications with Professor Anne Rogers.</li>
        </ul>
    </article>
        <article>
        <header>
            <h3>Applied Data Science Intern</h3>
            <span>Civis Analytics</span>
            <span><address>Chicago IL</address><time>Summer 2016</time></span>
        </header>
<!--         <ul>
            <li>Conducted statistical analysis and built predictive models using Python, R, and SQL to answer business questions for clients including Fortune 100 companies, international NGOs, and city governments. Interpreted, visualized, and presented results to clients.</li>
            <li>Cleaned and combined ACS data, national voter files, survey responses, and other large individual-level datasets for use in modeling and analysis.</li>
            <li>Used Python to automate common tasks such as creating demographic crosstabs of survey results and conducting large-scale spatial joins with custom polygons.</li>
        </ul> -->
    </article>
    <article>
        <header>
            <h3>Content Manager</h3>
            <span>Code for America</span>
            <span><address>San Francisco CA</address><time>April 2012—August 2015</time></span>
        </header>
<!--         <ul>
            <li>Conducted statistical analysis and built predictive models using Python, R, and SQL to answer business questions for clients including Fortune 100 companies, international NGOs, and city governments. Interpreted, visualized, and presented results to clients.</li>
            <li>Cleaned and combined ACS data, national voter files, survey responses, and other large individual-level datasets for use in modeling and analysis.</li>
            <li>Used Python to automate common tasks such as creating demographic crosstabs of survey results and conducting large-scale spatial joins with custom polygons.</li>
        </ul> -->
    </article>
</section>
