<section >
    <article>
<!--         <header>
            <h3 class='resume-position'>Primary Programming Language</h3>
        </header> -->
        <p><span class='technical-skills'>Programming:</span> I have two years of experience using Python for all stages of data science pipeline — from data cleaning and exploration, to building and evaluating  statistical models, to scaling processes for ongoing use.</p>
        <p><span class='technical-skills'>Analytics/Machine Learning:</span> Pandas, PySpark, SKLearn, Numpy, SQL, R.</p>
        <p><span class='technical-skills'>Other Technologies:</span> Git, Bash, AWS, Django, Ruby/Ruby on Rails, HTML/CSS.</p>
    </article>

</section>