<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/" class="header-name">Lauren Dyson</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/projects">Projects</a></li>
	        		<li><a href="/contact">Contact</a></li>

	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>(c) Lauren Dyson 2017 Some Rights Reserved</li>
	        		<li><a href="https://github.com/ldyson">github.com/ldyson</a></li>
				</ul>
			</footer>
		</body>
	</html>
